body{
    background-color: #e6ee9c;
    color: purple;
    margin-top: 5%;
    font-family: "Lucida Console", "Courier New", monospace;
}

.card-title{
    font-family: 'Dancing Script', cursive;
}
    
/* TODO give 25% margin on the left side of screen and 10% top margin */