body{
    background-color: pink;
    color: purple;
    margin-top: 5%;
    font-family: "Lucida Console", "Courier New", monospace;
}
footer{
    background-color: goldenrod;
}
/* TODO give 25% margin on the left side of screen and 10% top margin */